Repository declue/aipilot, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, backend, frontend, configuration, testing, dependencies, security, bug, enhancement, mcp, webhook

update
  REFACTORING_GUIDE.md
  dspilot_app/ui/managers/llm_tab_manager.py
  dspilot_cli/cli_query_processor.py
  dspilot_cli/output_manager.py
  dspilot_cli/planning_service.py
  dspilot_core/instructions/openai_agent_instructions.txt
  dspilot_core/instructions/prompt_manager.py
  dspilot_core/llm/__init__.py
  dspilot_core/llm/agents/__init__.py
  dspilot_core/llm/agents/agent_factory.py
  dspilot_core/llm/agents/ask_agent.py
  dspilot_core/llm/agents/base_agent.py
  dspilot_core/llm/agents/basic_agent.py
  dspilot_core/llm/agents/problem_agent.py
  dspilot_core/llm/agents/unified_agent.py
  dspilot_core/llm/mcp/mcp_tool_manager.py
  dspilot_core/llm/processors/search_processor.py
  dspilot_core/llm/workflow/__init__.py
  dspilot_core/llm/workflow/adaptive_workflow.py
  dspilot_core/llm/workflow/agent_workflow.py
  dspilot_core/llm/workflow/base_workflow.py
  dspilot_core/llm/workflow/basic_chat_workflow.py
  dspilot_core/llm/workflow/research_workflow.py
  dspilot_core/llm/workflow/smart_workflow.py
  dspilot_core/llm/workflow/workflow_utils.py
  tests/application/llm/workflow/test_agent_workflow.py
  tests/application/llm/workflow/test_workflow_basic.py
  tests/application/llm/workflow/test_workflow_langchain.py
Labels: documentation, testing

update
  dspilot_cli/output_manager.py
Labels: none

update
  dspilot_cli/execution/step_executor.py
  dspilot_cli/output_manager.py
Labels: none

코딩 에이전트
  dspilot_cli/cli_query_processor.py
  dspilot_cli/execution/argument_processor.py
  dspilot_cli/execution/step_executor.py
  dspilot_cli/planning_service.py
  dspilot_core/instructions/analysis_prompts.txt
  mcp_tools/coder_tool/coder_mcp.py
Labels: none

type check eror 수정
  dspilot_cli/cli_application.py
  dspilot_cli/cli_command_handler.py
  dspilot_cli/cli_main.py
  dspilot_core/util/logger.py
Labels: none

update
  .windsurf/rules/aipilot-guideline.md
  dspilot_cli/conversation_manager.py
  dspilot_cli/output_manager.py
  dspilot_cli/planning_service.py
  dspilot_cli/response_generator.py
  dspilot_cli/session.py
  dspilot_cli/summary_utils.py
  dspilot_cli/system_manager.py
Labels: documentation

코딩 agent 업데이트
  .cursor/rules/dspilot-cli.mdc
  dspilot_cli/planning_service.py
  dspilot_core/llm/workflow/__init__.py
  dspilot_core/llm/workflow/code_modification_workflow.py
  dspilot_core/llm/workflow/workflow_utils.py
  tests/application/cli/test_code_modification_workflow.py
  tests/application/cli/test_planning_service_workflow.py
Labels: testing

update
  dspilot_cli/execution/argument_processor.py
  dspilot_cli/planning_service.py
  dspilot_core/instructions/analysis_prompts.txt
  dspilot_core/llm/workflow/research_workflow.py
  dspilot_core/llm/workflow/smart_workflow.py
Labels: none

update
  dspilot_core/llm/agents/base_agent.py
  dspilot_core/llm/services/llm_service.py
  dspilot_core/llm/workflow/research_workflow.py
Labels: none

app update
  dspilot_app/ui/main_window.py
  dspilot_app/ui/runnables/llm_agent_worker.py
  dspilot_app/ui/signals/worker_signals.py
  dspilot_app/ui/tray_app.py
Labels: none

update app
  dspilot_app/ui/runnables/llm_agent_worker.py
Labels: none

update
  dspilot_core/llm/workflow/research_workflow.py
Labels: none

update
  .gitignore
  demo_ssh_terminal.py
  dspilot_core/llm/workflow/research_workflow.py
  keyboard_test.py
  practices/problem.py
  pty_size_test.py
  quick_terminal_check.py
  run_ssh_terminal.py
  ssh_basic_test.py
  ssh_connection_diagnostic.py
  test_dspilot_terminal.py
  test_terminal_size.py
  vi_debug_commands.py
  vi_key_test.py
Labels: testing

update research
  dspilot_core/llm/workflow/research_workflow.py
Labels: none

.github/labeler.yml:

# 자동 라벨링 규칙 설정
documentation:
  - '**/*.md'
  - 'docs/**/*'
  - 'instructions/**/*'

ci/cd:
  - '.github/**/*'
  - 'pyproject.toml'
  - 'pytest.ini'

backend:
  - 'application/api/**/*'
  - 'application/llm/**/*'
  - 'application/tasks/**/*'

frontend:
  - 'application/ui/**/*'

configuration:
  - 'application/config/**/*'
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.toml'

testing:
  - 'tests/**/*'
  - '**/*test*.py'

dependencies:
  - 'pyproject.toml'
  - 'requirements*.txt'

security:
  - 'SECURITY.md'

bug:
  - any: ['**/bug_report.md', '**/*bug*']

enhancement:
  - any: ['**/feature_request.md', '**/*enhancement*']

mcp:
  - 'mcp/**/*'
  - 'application/llm/mcp/**/*'

webhook:
  - 'webhook/**/*'
