Repository declue/aipilot, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, backend, frontend, configuration, testing, dependencies, security, bug, enhancement, mcp, webhook

.github/labeler.yml:

# 자동 라벨링 규칙 설정
documentation:
  - '**/*.md'
  - 'docs/**/*'
  - 'instructions/**/*'

ci/cd:
  - '.github/**/*'
  - 'pyproject.toml'
  - 'pytest.ini'

backend:
  - 'application/api/**/*'
  - 'application/llm/**/*'
  - 'application/tasks/**/*'

frontend:
  - 'application/ui/**/*'

configuration:
  - 'application/config/**/*'
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.toml'

testing:
  - 'tests/**/*'
  - '**/*test*.py'

dependencies:
  - 'pyproject.toml'
  - 'requirements*.txt'

security:
  - 'SECURITY.md'

bug:
  - any: ['**/bug_report.md', '**/*bug*']

enhancement:
  - any: ['**/feature_request.md', '**/*enhancement*']

mcp:
  - 'mcp/**/*'
  - 'application/llm/mcp/**/*'

webhook:
  - 'webhook/**/*'

project 파일 최적화
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  Dockerfile
  app.config.sample
  app.config.template
  app.py
  application/ui/managers/__init__.py
  application/ui/managers/conversation_manager.py
  application/ui/managers/github_tab_manager.py
  application/ui/managers/llm_tab_manager.py
  application/ui/managers/message_manager.py
  application/ui/managers/reasoning_parser.py
  application/ui/managers/streaming_bubble_manager.py
  application/ui/managers/streaming_html_renderer.py
  application/ui/managers/streaming_manager.py
  application/ui/managers/streaming_state.py
  application/ui/managers/style_manager.py
  application/ui/managers/ui_tab_manager.py
  application/ui/signals/notification_signals.py
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/installation.rst
  instructions/default_agent_instructions.txt
  instructions/openai_agent_instructions.txt
  logo.png
  mcp.json.template
  mcp.sample.json
  pyproject.toml
  requirements.txt
  task.json.sample
  test.env
Labels: documentation, ci/cd, frontend, configuration, dependencies

의존성 문제 해결
  pyproject.toml
Labels: ci/cd, configuration, dependencies

프로파일 전환해도 맥락 유지하게
  application/ui/main_window.py
Labels: frontend

Potential fix for code scanning alert no. 13: Unreachable 'except' block
  application/util/markdown_manager.py
Labels: none

webhook 코드 추가
  application/ui/main_window.py
  application/ui/managers/ui_setup_manager.py
  application/ui/tray_app.py
  webhook/app.py
  webhook/models.py
  webhook/simulator.py
Labels: frontend, webhook

update
  application/app.py
  application/ui/main_window.py
  application/ui/managers/ui_setup_manager.py
  application/ui/presentation/ai_chat_bubble.py
  application/ui/presentation/streaming_html_renderer.py
  application/ui/qt_app.py
  tests/application/ui/test_main_window.py
  webhook/__init__.py
  webhook/requirements.txt
Labels: frontend, testing, webhook

Potential fix for code scanning alert no. 88: Uncontrolled data used in path expression
  webhook/app.py
  webhook/requirements.txt
Labels: webhook

update
  application/llm/llm_agent.py
  application/ui/tray_app.py
  application/util/filter_engine.py
  application/util/notification_service.py
  application/util/polling_manager.py
  tests/application/llm/test_llm_agent_basic.py
  tests/application/llm/test_llm_agent_fixed.py
  tests/application/llm/test_llm_agent_working.py
  tests/conftest.py
Labels: backend, frontend, testing

update
  application/llm/llm_agent.py
  application/ui/domain/streaming_manager.py
  tests/application/llm/test_llm_agent_working.py
  tests/application/ui/test_streaming_manager.py
Labels: backend, frontend, testing

update
  application/llm/llm_agent.py
Labels: backend

update
  application/config/apps/managers/app_config_manager.py
  application/config/apps/managers/llm_profile_manager.py
  application/config/apps/managers/mcp_config_manager.py
  application/config/config_manager.py
  application/config/libs/base_config_manager.py
  application/config/unified_config_manager.py
  application/llm/llm_agent.py
  application/llm/mcp/mcp_tool_manager.py
  application/llm/workflow/workflow_utils.py
  application/ui/qt_app.py
  application/ui/runnables/llm_agent_worker.py
  application/ui/settings_window.py
  application/ui/test_window.py
  application/ui/theme_manager.py
  application/ui/tray_app.py
  pyproject.toml
  tools/bitbucket_mcp/bitbucket_mcp_tool.py
  tools/chrome_mcp/chrome_mcp_tool.py
  tools/common/time.py
  tools/common/weather.py
  tools/deep_research_mcp/README_DEEP_RESEARCH_MCP.md
  tools/deep_research_mcp/deep_research.py
  tools/deep_research_mcp/deep_research_mcp.py
  tools/duckduckgo_mcp/README_DUCKDUCKGO_MCP.md
  tools/duckduckgo_mcp/duckduckgo_mcp_tool.py
  tools/examples/complete_demo.py
  tools/examples/example_usage.py
  tools/file_explorer_mcp/README_FILE_MCP.md
  tools/file_explorer_mcp/file_explorer_mcp.py
  tools/file_explorer_mcp/file_mcp_tool.py
  tools/process_mcp/process_manager_mcp.py
  tools/process_mcp/process_mcp.py
  tools/remote_desktop_mcp/README_REMOTE_DESKTOP.md
  tools/remote_desktop_mcp/demo_remote_desktop.py
  tools/remote_desktop_mcp/remote_desktop.py
  tools/remote_desktop_mcp/remote_desktop_core.py
  tools/remote_desktop_mcp/remote_desktop_example.py
  tools/remote_desktop_mcp/remote_desktop_mcp.json
  tools/remote_desktop_mcp/test_remote_desktop.py
  tools/web_search_mcp/web_search_mcp.py
Labels: documentation, ci/cd, backend, frontend, configuration, testing, dependencies, mcp

update
  application/llm/llm_agent.py
Labels: backend

update
  application/llm/llm_agent.py
  tools/duckduckgo_mcp/duckduckgo_mcp_tool.py
  tools/examples/test_mcp_search_web.py
  tools/examples/test_standalone_duckduckgo.py
  tools/web_search/README_DUCKDUCKGO_MCP.md
  tools/web_search/duckduckgo.py
  tools/web_search_mcp/web_search_mcp.py
Labels: documentation, backend, testing

update
  application/llm/llm_agent.py
  application/llm/processors/__init__.py
  application/llm/processors/base_processor.py
  application/llm/processors/search_processor.py
Labels: backend

update
  application/config/config_manager.py
  application/llm/mcp/mcp_manager.py
  application/llm/monitoring/performance_tracker.py
  dspilot_cli.py
Labels: backend, configuration, mcp

update
  application/llm/agents/base_agent.py
  application/llm/agents/react_agent.py
  duckduckgo_mcp.log
Labels: backend

update
  application/llm/agents/base_agent.py
  application/llm/agents/react_agent.py
  application/llm/mcp/mcp_tool_manager.py
  instructions/default_agent_instructions.txt
  instructions/openai_agent_instructions.txt
  tools/common/time.py
Labels: documentation, backend, mcp

복합적인 도구 사용
  application/config/config_manager.py
  application/llm/agents/base_agent.py
  application/llm/agents/react_agent.py
  duckduckgo_mcp.log
Labels: backend, configuration

file 도구
  tools/file_explorer_mcp/file_explorer_mcp.py
  tools/file_explorer_mcp/file_mcp_tool.py
Labels: none

codding agent
  tools/coder/coder_mcp.py
  tools/file_explorer_mcp/file_mcp_tool.py
Labels: none

update
  dspilot_cli.py
  tools/coder/coder_mcp.py
  tools/file_explorer_mcp/file_mcp_tool.py
Labels: none

update
  application/config/apps/defaults/default_llm_profiles.py
  application/llm/USAGE_EXAMPLES.md
  application/llm/agents/agent_factory.py
  application/llm/agents/react_agent.py
  application/llm/workflow/adaptive_workflow.py
  application/llm/workflow/workflow_utils.py
  dspilot_cli.py
Labels: documentation, backend, configuration

update
  duckduckgo_mcp.log
Labels: none

update
  .gitignore
Labels: none

update
  llm_profiles.json.sample
  mcp.json.template
Labels: none

update
  application/config/apps/defaults/default_llm_profiles.py
  application/llm/USAGE_EXAMPLES.md
  application/llm/agents/agent_factory.py
  application/llm/agents/base_agent.py
  application/llm/agents/basic_agent.py
  application/llm/agents/react_agent.py
  application/llm/agents/unified_agent.py
  application/llm/agents/workflow_agent.py
  application/llm/mcp/mcp_tool_manager.py
  application/llm/workflow/README_AGENT_WORKFLOW.md
  application/llm/workflow/README_WORKFLOWS.md
  application/llm/workflow/__init__.py
  application/llm/workflow/adaptive_workflow.py
  application/llm/workflow/agent_workflow.py
  application/llm/workflow/basic_chat_workflow.py
  application/llm/workflow/multi_step_workflow.py
  application/llm/workflow/problem_solving_workflow.py
  application/llm/workflow/research_workflow.py
  application/llm/workflow/workflow_utils.py
  dspilot_cli.py
  examples/agent_workflow_demo.py
  hello.py
  hello_world.py
  llm_profiles.json.sample
  tests/application/llm/workflow/test_agent_workflow.py
Labels: documentation, backend, configuration, testing, mcp

update
  application/llm/workflow/adaptive_workflow.py
  application/llm/workflow/agent_workflow.py
Labels: backend

update
  dspilot_cli.py
Labels: none

update
  mcp.md
Labels: documentation

update
  dspilot_cli/__init__.py
  dspilot_cli/__main__.py
  dspilot_cli/cli_app.py
  dspilot_cli/cli_main.py
  dspilot_cli/constants.py
  dspilot_cli/conversation_manager.py
  dspilot_cli/dspilot_cli.py
  dspilot_cli/execution_manager.py
  dspilot_cli/interaction_manager.py
  dspilot_cli/output_manager.py
  dspilot_cli/system_manager.py
  dspilot_core/llm/mcp/mcp_tool_manager.py
  mcp_tools/coder_tool/coder_mcp.py
  mcp_tools/file_explorer_tool/file_mcp_tool.py
  mcp_tools/web_search_tool/duckduckgo.py
Labels: none

update
  dspilot_cli/__main__.py
  dspilot_cli/conversation_manager.py
  dspilot_cli/execution_manager.py
  dspilot_cli/interaction_manager.py
  dspilot_cli/output_manager.py
  dspilot_cli/system_manager.py
Labels: none

update
  mcp_tools/file_explorer_tool/file_mcp_tool.py
  mcp_tools/time_tool/time.py
  mcp_tools/weather_tool/weather.py
  mcp_tools/web_search_tool/duckduckgo.py
  tools/examples/complete_demo.py
  tools/examples/example_usage.py
  tools/examples/test_mcp_search_web.py
  tools/examples/test_standalone_duckduckgo.py
Labels: testing

update
  .vscode/settings.json
  dspilot_backend/__init__.py
  dspilot_core/config/libs/base_config_manager.py
  dspilot_release/.gitignore
  dspilot_release/README.md
  dspilot_release/cli_release.py
  mcp_tools/coder_tool/coder_mcp.py
  tests/release/test_cli_release.py
Labels: documentation, configuration, testing

update
  application/__init__.py
  dspilot_app/app.py
Labels: none

update
  dspilot_core/llm/mcp/mcp_tool_manager.py
Labels: none

update
  mcp_tools/coder_tool/coder_mcp.py
  mcp_tools/file_explorer_tool/file_mcp_tool.py
  mcp_tools/time_tool/time.py
  mcp_tools/weather_tool/weather.py
Labels: none

mcp tool의 stdout 제거
  dspilot_core/llm/mcp/mcp_tool_manager.py
Labels: none

update
  app.py
  dspilot_cli/cli_main.py
  dspilot_cli/dspilot_cli.py
  dspilot_cli/execution_manager.py
  dspilot_cli/output_manager.py
  dspilot_core/llm/mcp/mcp_manager.py
  dspilot_core/llm/workflow/agent_workflow.py
Labels: none

update agent mode
  dspilot_cli/cli_main.py
  dspilot_cli/constants.py
  dspilot_cli/execution_manager.py
  dspilot_core/llm/utils/argument_fixer.py
  dspilot_core/llm/utils/result_validator.py
Labels: none

mcp tool 추가
  mcp_tools/bitbucket_tool/bitbucket_tool.py
  mcp_tools/chrome_tool/chrome_tool.py
  mcp_tools/confluence_tool/confluence_tool.py
  mcp_tools/deep_research_tool/README_DEEP_RESEARCH_MCP.md
  mcp_tools/deep_research_tool/deep_research_tool.py
  mcp_tools/file_explorer_tool/file_mcp_tool.py
  mcp_tools/github_tool/README.md
  mcp_tools/github_tool/github_tool.py
  mcp_tools/jira_tool/jira_tool.py
  mcp_tools/keyboard_tool/keyboard_tool.py
  mcp_tools/kubernetes_tool/README.md
  mcp_tools/kubernetes_tool/kubernetes_tool.py
  mcp_tools/mattermost_tool/mattermost_tool.py
  mcp_tools/mouse_tool/mouse_tool.py
  mcp_tools/network_tool/README.md
  mcp_tools/network_tool/network_tool.py
  mcp_tools/os_tool/os_tool.py
  mcp_tools/ppt_tool/ppt_tool.py
  mcp_tools/process_tool/README.md
  mcp_tools/process_tool/process_tool.py
  mcp_tools/remote_desktop_tool/README_REMOTE_DESKTOP.md
  mcp_tools/remote_desktop_tool/demo_remote_desktop.py
  mcp_tools/remote_desktop_tool/remote_desktop.py
  mcp_tools/remote_desktop_tool/remote_desktop_core.py
  mcp_tools/remote_desktop_tool/remote_desktop_example.py
  mcp_tools/remote_desktop_tool/remote_desktop_mcp.json
  mcp_tools/remote_desktop_tool/test_remote_desktop.py
  mcp_tools/screen_tool/screen_tool.py
  mcp_tools/smartthings_tool/smartthings_tool.py
  mcp_tools/ssh_tool/ssh_tool.py
  mcp_tools/video_tool/video_tool.py
Labels: documentation, configuration, testing
